.button {
  background-color: #3D95CE;
  border-radius: 19px;
  color: #FFFFFF;
  padding: 0.5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  fontFamily: italic Helvetica Neue,Helvetica,Arial,sans-serif
}

.button:focus,
.button:hover {
  background-color: #3D95CE;
  color: White;
}

.content {
  display: none;
  margin: 1em 0;
}

.content.active,
.no-js .content {
  display: block;
}
